@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
    font-family: 'PP Valve';
    font-style: bold;
    font-weight: 1000;
    font-display: swap;
    src: url(/fonts/PPValve-PlainExtrabold.otf) format('woff2');
  }

  h1, h2 {
    font-family: 'PP Valve';
    font-weight: 1000;

  }

  h1, h2, h3, a, p, span, text, div {
    @apply text-gray-400;
  }

  body {
    margin: 0;
    padding: 0;
    background: black;
  }
  html, body {
    overscroll-behavior: none;
  }

  .fadeIn {
    @apply ease-in-out transition-all opacity-0;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  .fadeIn.fade {
    @apply opacity-100
  }

}

@layer components {
    canvas#bg {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }
      
      
      .pageContainer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        margin-top: 88px;
      }

      #features {
        @apply grid mb-8  md:grid-cols-2 md:mx-5
      }

      #features .f-item {
        @apply p-6 cursor-pointer  mx-auto  max-w-full
      }

      #features figure {
        max-width: 390px;
        aspect-ratio: 390 / 300;
        width: 100%;
        background-size: 100%;
        background-position-x: -40px;
        background-repeat: no-repeat;
      }
      
}

